body 
{
    background-color: #e6e6e6;
}
#bodyCentral
{
  	position:absolute;
	width:30cm;
	margin-left:10%;	
	margin-right:10%;
	height:35cm;
	border-style:outset;
	background-color: white;
    
}
#Menu
{
     
}
#Cuerpo
{
   
}
#Pie
{
    position:absolute;
    margin-top:32cm;
   /* border-top: 2px solid black;*/
    border-style:groove;
}
