/*===================== CSS Maestra ========================================*/
body 
{
    border: 1px solid grey;
    background-color: White;
    width: 806px;
    margin: 0 auto;
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;*/

}
#Cabecera
{
	height: 60px;
	background-image: url('/Imagenes/Cabecera.png');
}
#Menu
{
    border-top: 1px solid grey; 
    border-bottom: 1px solid grey;
    text-align: center;
    margin: 0 auto; 
    background-image: url('/Imagenes/Menu.png');
}

#TMenuMaster
{
	margin-left: 120px;
	margin-right: 120px;
}
#Cuerpo
{
    height: 590px;
}
#Pie
{
    border-top: 1px solid grey;
    height: 20px;
    text-align:center;
    margin: 0 auto;
    font-size: 0.6em;
    font-family: Verdana;
    font-style: normal;
    font-weight: lighter;
    font-variant: normal;
    color: #7C6F57;
}
#MaestraContacto
{
	text-decoration: none;
	color: #7C6F57;
}

/*===================== CSS Maestra FIN ===================================*/

/*===================== CSS Indexx ========================================*/

#IndexPresentacion
{
	height: 300px;
	width: 600px;
	float: left;
}

#IndexLogin
{
	height: 150px;
	width: 205px;
	float: left;
	border-left: 1px solid grey;
	background-color: #E6E6FA;
}

#IndexRegistro
{
	height: 150px;
	width: 205px;
	float: left;
	border-top: 1px solid grey;
	border-left: 1px solid grey;
	color: Black;
	text-decoration: none;
	text-align: center;
	background-color: #E6E6FA;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: x-small;
	outline: 0px solid #000000;
}

#IndexLinkReg
{
	color: Black;
	text-decoration: none;
	border: 1px outset grey;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-box-shadow: -2px -2px 2px #000000;
	-moz-box-shadow: -2px -2px 2px #000000;
	font-family: Comic Sans MS;
}
#IndexLinkReg:hover
{
	background-color: Aqua;
	font-size:large;
}

#IndexOfertas
{
	height: 290px;
	width: 402px;
	float: left;
	border-top: 1px solid grey;
}

#IndexBoxOfertas
{
	text-align:center;
	margin: 0 auto;
	width: 220px;
	height: 180px;
	border: 1px solid grey;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-box-shadow: -2px -2px 2px #000000;
	-moz-box-shadow: -2px -2px 2px #000000;
}
#IndexReserva
{
	border-left: 1px solid grey;
	border-top: 1px solid grey;	
	height: 290px;
	width: 403px;
	float: left;
	text-align:center;
	font-size: small;
}

#IndexTextoPresentacion
{
	width: 500;
	margin-top: 6em;
	margin-left: 2em;
	margin-right: 2em;
	-webkit-border-radius: 37px;
	-moz-border-radius: 37px;
	-webkit-box-shadow: -5px -5px 30px #000000;
	-moz-box-shadow: -5px -5px 30px #000000;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	border: 6px solid #FFFFFF;
	background-color: #E6E6FA;
	padding: 12px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	color: blue;
	text-align: justify;
	outline: 0px solid #000000;
}
#IndexLoginC
{
	font-size: xx-small !important;
}

.IndexBotonAcceder
{
	text-align: center !important;
	margin-right: 4.5em;
}

.IndexLabel
{
	font-size: xx-small !important;
}

.IndexTitle
{
	font-size: xx-small !important;
}

.IndexTextBox
{
	font-size: xx-small !important;
}

.IndexCheck
{
	font-size: xx-small !important;
	text-align: center;
}
#IndexOfertas h1
{
	font: bold 30px "Lucida Grande", Arial, sans-serif;
	color: #464646;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.2em black;
	
}
#IndexReserva h1
{
	font: bold 30px "Lucida Grande", Arial, sans-serif;
	color: #464646;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.2em black;
	
}
#IndexReserva h2
{
	font: normal 10px "Lucida Grande", Arial, sans-serif;
	color: #464646;
	text-align: center;
	margin-top: 4em;
}
#IndexTextFechaInicio
{
	margin-left: 2em;
}
#CalendarioInicio
{
	margin-right: 2em;
}
#IndexTextFechaFin
{
	margin-left:2em;
}
#CalendarioFin
{
	margin-right: 2em;
}