body 
{
    border: 1px solid grey;
    background-color: White;
    width: 806px;
    margin: 0 auto;
}
#Cabecera
{
	border: 1px solid grey;
	height: 60px;
	background-image: url('/Imagenes/Cabecera.png');
}
#Menu
{
    border: 1px solid grey; 
    text-align: center;
    margin: 0 auto; 
    background-image: url('/Imagenes/Menu.png');
}

#TMenuMaster
{
	margin-left: 120px;
	margin-right: 120px;
}
#Cuerpo
{
    border: 1px solid grey;
    height: 590px;
}
#Pie
{
    border: 1px solid grey;
    height: 20px;
    text-align:center;
    margin: 0 auto;
    font-size: 0.6em;
    font-family: Verdana;
    font-style: normal;
    font-weight: lighter;
    font-variant: normal;
    color: #7C6F57;
}
#MaestraContacto
{
	text-decoration: none;
	color: #7C6F57;
}

