<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
        <forms loginUrl="Index.aspx"/>
    </authentication>
    <!-- CÓDIGO PARA AÑADIR PÁGINAS PERSONALIZADAS DE ERROR
    <customErrors defaultRedirect="/Error.aspx" mode="On">
        <error statusCode="500" redirect="/Error.aspx?error=500" />
        <error statusCode="404" redirect="/Error.aspx?error=404" />
        <error statusCode="403" redirect="/Error.aspx?error=403" />
    </customErrors> -->
</system.web>
    <connectionStrings>
        <add name="AlquilerCoches"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;|DataDirectory|BBDD.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>


