body 
{
    /*border: 2px solid black;
    background-color: Yellow;
    height: 10%;*/
}
#ComprasMenu
{
    border: 2px solid black; 
    height: 10%;  
}
#ComprasCuerpoTitulo
{
    border: 2px solid grey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#ComprasCuerpoCoches
{
    border: 2px solid grey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#ComprasPie
{
    border: 2px solid grey;
}
