/*===================== CSS Maestra ========================================*/
body 
{
    border: 1px solid grey;
    background-color: White;
    width: 806px;
    margin: 0 auto;
}
#Cabecera
{
	border: 1px solid grey;
	height: 60px;
	background-image: url('/Imagenes/Cabecera.png');
}
#Menu
{
    border: 1px solid grey; 
    text-align: center;
    margin: 0 auto; 
    background-image: url('/Imagenes/Menu.png');
}

#TMenuMaster
{
	margin-left: 120px;
	margin-right: 120px;
}
#Cuerpo
{
    border: 1px solid grey;
    height: 590px;
}
#Pie
{
    border: 1px solid grey;
    height: 20px;
    text-align:center;
    margin: 0 auto;
    font-size: 0.6em;
    font-family: Verdana;
    font-style: normal;
    font-weight: lighter;
    font-variant: normal;
    color: #7C6F57;
}
#MaestraContacto
{
	text-decoration: none;
	color: #7C6F57;
}

/*===================== CSS Maestra FIN ===================================*/

/*===================== CSS Indexx ========================================*/

#IndexPresentacion
{
	height: 300px;
	width: 600px;
	float: left;
}

#IndexLogin
{
	height: 150px;
	width: 204px;
	float: left;
	background-color: Red;
}

#IndexRegistro
{
	height: 150px;
	width: 204px;
	float: left;
	background-color: Blue;
}

#IndexOfertas
{
	height: 290px;
	width: 402px;
	background-color: Orange;
	float: left;
}

#IndexReserva
{
	height: 290px;
	width: 402px;
	background-color: Purple;
	float: left;
}

#IndexTextoPresentacion
{
	width: 500;
	margin-top: 6em;
	margin-left: 2em;
	margin-right: 2em;
	-webkit-border-radius: 37px;
	-moz-border-radius: 37px;
	-webkit-box-shadow: -5px -5px 30px #000000;
	-moz-box-shadow: -5px -5px 30px #000000;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	border: 6px solid #FFFFFF;
	background-color: #E6E6FA;
	padding: 12px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	color: blue;
	text-align: justify;
	outline: 0px solid #000000;
}