body 
{
background: -moz-linear-gradient(left, rgba(0,0,0,0.21) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.21)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(left, rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* W3C */
background: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
#TMenuPerfil
{
	margin-left: 150px;
}
#Menu
{
    border: 1px solid grey; 
    text-align: center;
    margin: 0 auto; 
}

#Cuerpo
{
    border: 1px solid grey;
    height: 650px;
}

#PerfilDatosUsuario
{
    border: 1px solid grey; 
    float:left;
    width:6cm;
    height:10cm;
    margin-left: 2px;
    margin-top: 2px;
    -moz-border-radius: 10px; /*radio de los bordes*/
    -webkit-border-radius: 10px;
}
#PerfilDatosReservas
{
    margin-top: 2px;
    text-align: center;
    width:14.98cm;
    height:10cm;
    position:absolute;
    margin-left: 232px;
    border: 1px solid grey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#Pie
{
    border: 1px solid grey;
    height: 20px;
    text-align:center;
    margin: 0 auto;
    font-size: 0.6em;
    font-family: Verdana;
    font-style: normal;
    font-weight: lighter;
    font-variant: normal;
    color: #7C6F57;
}
#PerfilContacto
{
	text-decoration: none;
	color: #7C6F57;
}

.PerfilbotonUsuario
{
    float:right;
    margin-top:3cm;
    margin-right:0.8cm;
    cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border:1px solid #707070;
    padding-left:10px;
    padding-right:10px;

}
.PerfilbotonReserva
{
    float:right;
    margin-top:7.2cm;
    margin-right:0.8cm;
    cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border:1px solid #707070;
    padding-left:10px;
    padding-right:10px;
}

#PerfilImagenCliente
{
    background-image: url('/Imagenes/Imagenes Perfil/Desconocido.jpg');
}