body 
{
    border: 2px solid black;
    background-color: Yellow;
    height: 10%;
}
#Menu
{
    border: 2px solid black; 
    height: 10%;  
}
#Cuerpo
{
    border: 2px solid black;
}
#Pie
{
    border: 2px solid black;
}


#RegistroDatosUsuario
{
   
    width:20.9cm;
    height:13cm;
    margin-left: 2px;
    margin-top: 19px;

}

#NuevoRegistro
{
    border: 1px solid grey;    
    
    
    
    
}


