body 
{
    
}
#ReservaMenu
{
    border: 2px solid black; 
    height: 10%;  
}
#ReservaCuerpoPaso1
{
    border: 2px solid grey;
    margin-top:10px;
    margin-left:2px;
    margin-right:2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#ReservaCuerpoPaso2
{
    border: 2px solid grey;
    margin-top:5px;
    margin-left:2px;
    margin-right:2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#ReservaCuerpoPaso3
{
    border: 2px solid grey;
    margin-top:5px;
    margin-left:2px;
    margin-right:2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#ReservabotonConsulta
{
    float: right;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-right:10px;
    margin-top:110px;
    padding-left:10px;
    padding-right:10px;
}
#ReservaCuerpoPaso3
{
    border: 2px solid grey;
}
#ReservasFotoCoche
{
    float:right;
    margin-right:300px;
}
#ReservaPie
{
    border: 2px solid grey;
}
